<%- include('partials/styles'); -%>

<body>
  

<%- include('partials/nav'); -%>

<!-- hero area -->
<section class="hero-section hero" data-background="" style="background-image: url(images/hero-area/banner-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center zindex-1">
        <h1 class="mb-3 text-white"><strong class="text-primary">Web</strong> Development</h1>
        <p class="mb-4 text-white">Full stack Web Development by <strong class="text-primary ">Jake</strong></p>
        <a href="#" class="btn card-3 btn-primary mb-3 btn-lg">GET A QUOTE</a>
        <a href="#" class="btn card-3 btn-secondary mb-3 btn-lg"> RESOURCES </a>
        <!-- banner image -->
        <img class="img-fluid w-100 banner-image" src="images/hero-area/banner-img.png" alt="banner-img">
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="images/background-shape/feature-bg-2.png" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="images/background-shape/seo-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="images/background-shape/green-dot.png" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="images/background-shape/blue-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="images/background-shape/yellow-triangle.png" alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="images/background-shape/service-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="images/background-shape/team-bg-triangle.png" alt="">
  </div>
</section>
<!-- /hero-area -->

<!-- feature -->
<section class="section feature mb-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Why work with me?</h2>
        <p class="mb-100">As technology advances, the business world is becoming more competitive. Every business, whether small or big, must strive to keep up with the market trends to stay ahead of its competitors. One of the trends that they need to keep up with is the need to have professional development to enhance smooth conductivity of the business without interruptions and downtime.</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-ruler-pencil card-3 feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Awesome Design</h4>
            <p>I stay up to date with the latest trends, so you dont have to.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layout-cta-left card-3 feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Ongoing Support</h4>
            <p>When our project goes production, that doesn't mean its over.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-split-v-alt card-3 feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Bug free Code</h4>
            <p>To keep you up and running when you need it the most.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt card-3 feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Full Stack</h4>
            <p>That means I work the backend also, so no jumping through hoops with multiple developers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1 up-down-animation" src="images/background-shape/feature-bg-1.png" alt="bg-shape">
  <img class="feature-bg-2 left-right-animation" src="images/background-shape/feature-bg-2.png" alt="bg-shape">
</section>
<!-- /feature -->

<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="images/marketing/marketing.png" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title text-dark">Data-Driven</h2>
        <p>Data check. A data-driven website is a website that can easily be updated by the managers of the website. The website is created to display new content to users and customers based on the data analyzed. It is different than a static website that is only updated once. A data-driven website will continue to be updated as new information and data are provided.
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="images/backgrounds/seo-bg.png" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="images/background-shape/seo-ball-1.png" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="images/background-shape/seo-half-cycle.png" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->

<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Powerful CMS</h2>
        <p class="mb-4">Custom CMS systems hand taylored for your needs.</p>
        <ul class="pl-0 service-list">
          <li><i class="ti-layout-tab-window text-purple"></i>Responsive on any device</li>
          <li><i class="ti-layout-placeholder text-purple"></i>Very easy to customize</li>
          <li><i class="ti-support text-purple"></i>Effective support</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="images/service/service.png" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="images/backgrounds/service-bg.png" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="images/background-shape/service-half-cycle.png" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->

<!-- team -->

<!-- /team -->

<!-- pricing -->
<section class="section-lg pb-0 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Why is Web Presence so Important?</h2>
        <p class="mb-50">Each year, the importance of having a strong web presence continues to grow. More and more people are turning to the internet to discover a new business, get their questions answered, buy a new product, learn about local businesses, and so much more. In this digital day and age, using the internet is how society discovers and learns about almost anything; potentially even your business.</p>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row justify-content-center">
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded card-3 pricing-table table-2 text-center" style="height:450px;background-image: url(images/ecom.png); background-size:cover;">
              <div class="text-center  rounded ">
                <a href="#" class="btn px-5 text-center card-3   mt-5 mx-auto btn-secondary">Commerce</a>
                
              </div>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded card-3 text-center pricing-table table-2" style="height:450px;background-image: url(images/portfolio.png); background-size:cover;">
              <div class="text-center rounded">
                <a href="#" class="btn text-center card-3  mt-5 mx-auto btn-primary">Portfolio</a>
              </div>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded card-3 text-center pricing-table table-2" style="height:450px;background-image: url(images/corp.png); background-size:cover;">
              <div class="text-center rounded">
                <a href="#" class=" btn text-center card-3 px-5  mt-5 mx-auto btn-secondary">Corporate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="pricing-bg-shape-1 up-down-animation" src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img class="pricing-bg-shape-2 up-down-animation" src="images/background-shape/seo-half-cycle.png" alt="background-shape">
  <img class="pricing-bg-shape-3 left-right-animation" src="images/background-shape/team-bg-triangle.png" alt="background-shape">
</section>
<!-- /pricing -->

<!-- client logo slider -->

<!-- /client logo slider -->

<!-- newsletter -->
<section class="mt-5  newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Subscribe to our newsletter</h2>
        <p class="mb-3">Receive updates, news and deals</p>
      </div>
      <div class="col-lg-8 col-sm-10 col-12 mx-auto">
        <form action="#">
          <div class=" input-group mb-3 card-3 position-relative">
            <input type="email" class="newsletter-form form-control form-control-alternative " id="newsletter" placeholder="Enter your email">
            <button type="submit" value="send" class=" btn btn-primary">subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="newsletter-bg-shape left-right-animation" src="images/background-shape/seo-ball-2.png" alt="background-shape">
</section>
<!-- /newsletter -->

<%- include('partials/footer') -%>

<%- include('partials/js') -%>

</body>
</html>